.user-register {
    .MuiBox-root {
        width: 100%;

        .inputs {
            margin-bottom: 10px;
        } 
        
        .alert {
            margin-bottom: 10px;
        }
        
        button {
            width: 100%;
        }
    }
}